<div ng-controller="DetailsCtrl as details">
<h3>{{details.project.name}}</h3>

<ul class="nav nav-tabs">
    <li ng-class="{active:details.activetab === 'metadata'}"><a ng-click='details.activetab = "metadata"'>Metadata</a></li>
    <li ng-class="{active:details.activetab === 'location'}"><a ng-click='details.activetab = "location"'>Map</a></li>
    <li ng-class="{active:details.activetab === 'download'}"><a ng-click='details.activetab = "download"'>Download</a></li>
</ul>

<div class="tab-content" style="padding:10px">
    <div ng-switch="details.activetab">

        <div ng-switch-when='metadata'>
            <p><b>About:</b> {{details.project.details}}</p>

            <p><b>Contact:</b> {{details.project.contact}}</p>

            <p><b>Dates:</b> {{details.project.dates}}</p>

            <p><b>Variables:</b>
                <li ng-repeat="variable in details.project.variables">
                    {{variable}}
                </li>


            </p>


        </div>

        <div ng-switch-when='data'> or this</div>

        <div ng-switch-when='location'>
            <div style="height:300px;">
              <leaflet id="MyMap" geojson="geojson" height="100%" ng-init="centerJSON()"></leaflet>
              <input type="button" value="Click to Center" ng-click="centerJSON()" />
            </div>
        </div>

        <div ng-switch-when='download'>
            <ul>
              <li ng-repeat="download in details.project.downloads">
                  <a href={{download.url}} download>
                  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> {{download.name}}
                  </a>
              </li>
            </ul>



        </div>
    </div>
</div>


</div>
