<div ng-controller="SiteCtrl as locs">
<div ng-controller="MapCtrl as map" class="jumbotron">
    <div style="height:300px;">
              <leaflet center="map.center" geojson="locs.geojson" events="map.events" width="100%" height="100%"></leaflet>
          </div>
</div>

<div class="row marketing">

<div>
    <form role="form">
          Search: <input ng-model="search.name">
          <select class="selectpicker" ng-model='search.variable' ng-options="">
              <option value="" selected="selected">-- All Variables --</option>
          </select>
      </div>

  </form>
</div>

<div ng-controller="TableCtrl as table">
    <div>
        selectedRow = {{table.selectedRow}}
        feature = {{table.selectedFeature}}
    </div>
  <div class='row'>
      <div class='col-md-8 col-md-offset-2'>
          <table border="1" style="width:100%">
              <tr>
                  <th>Name</th>
                  <th>Variable</th>
                  <th>Location</th>
              </tr>
              <tr ng-repeat="site in locs.sites | filter:search.name" ng-class="{'selected':$index == table.selectedRow}" ng-click="table.setClickedRow($index)">
                  <td>{{site.properties.name}}</td>
                  <td>{{site.properties.var}}</td>
                  <td>{{site.geometry.coordinates}}</td>
              </tr>
          </table>
      </div>




  </div>

</div>
</div>
